# -------------------------------
# Spark Configuration
# -------------------------------
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
AWS_S3_ENDPOINT=http://minio:9000
AWS_DEFAULT_REGION=us-east-1

S3_BUCKET=s3://ecommerce-warehouse

NESSIE_URI=http://nessie:19120/api/v2

MINIO_REGION=us-east-1

PYSPARK_PYTHON=/opt/conda/envs/py312/bin/python

KAFKA_BOOTSTRAP_SERVERS=host.docker.internal:29092
KAFKA_TOPIC=ecommerce_events